In [2]:
pwd

'C:\\Users\\ABC'

In [3]:
import os
import pandas as pd
import numpy as np 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [4]:
os.chdir('C:\\Users\\ABC\\6. Datasets')

In [5]:
os.listdir()

['.ipynb_checkpoints',
 '42E17330',
 '8qxce0lddu.xlsx',
 'Adventure Works - Tableau Module 8 copy.csv',
 'archive',
 'archive.zip',
 'ARM - Bakery Data',
 'ARM - Bakery Data.zip',
 'ARM - Bakery.csv',
 'Aug 2023 - Nov 6th 2023.xls',
 'bank-full.csv',
 'bank_cleaned (2).csv',
 'bank_cleaned (3).csv',
 'bank_cleaned.csv',
 'BigMartSalesData.csv',
 'BostonHousing.csv',
 'BostonHousing2.csv',
 'breast cancer - LogReg.csv',
 'BX-Book-Ratings.csv',
 'BX-Books.csv',
 'BX-Users.csv',
 'CarPrice_Assignment.csv',
 'Cars2015.csv',
 'cereal.csv',
 'CityTemps.csv',
 "code - Nikita mam's code.ipynb",
 'Code module 8.ipynb',
 'CoffeeChart2.xlsx',
 'Concrete_Data_Yeh.csv',
 'Concrete_Data_Yeh2 - To test.csv',
 'Credit Card Customer Data.csv',
 'Data Dictionary - carprices.xlsx',
 'diabetes.csv',
 'DSScoreTerm1.csv',
 'emails.csv',
 'EmailsNotepad.txt',
 'f1 - 1',
 'FyntraCustomerData.csv',
 'Groceries_dataset.csv',
 'HDFC Aug 2023 - Nov 6th 2023.pdf',
 'heart (1) - LogReg.csv',
 'heart - LogReg.csv',
 'Hurricanes.csv',
 'In class demo- Global Retail Case Study (Tableau Module 9 copy).xlsx',
 'income dataset',
 'income.csv',
 'iris.csv',
 'Life Expectancy Data.csv',
 'MathScoreTerm1.csv',
 'middle_tn_schools.csv',
 'Movie reccomender Movie_Titles_Id1.csv',
 'Movie reccomender Recommend1.csv',
 'Online_Retail(1).csv',
 'Online_Retail(2).csv',
 'Online_Retail.csv',
 'Online_Retail.xlsx',
 'Pandas practice Corey Schafer',
 'PhysicsScoreTerm1.csv',
 'portuguesebank.csv',
 'price_prediction_result.xlsx',
 'pricing.csv',
 'prisoners.csv',
 'ratings-demo.csv',
 'Recommend.csv',
 'rentalday.csv',
 'rentalhour.csv',
 'SalaryGender.csv',
 'Salary_Data.csv',
 'sample-salesv2.csv',
 'ScoreFinal.csv',
 'student.csv',
 'survey_results_public_2020.csv',
 'survey_results_public_2020.xlsx',
 'survey_results_public_2022.csv',
 'survey_results_schema_2020.csv',
 'survey_results_schema_2022.csv',
 'Tab 7 - flights data.xlsx',
 'Tab 7 - Obesity Data Set.csv',
 'Tab 8 - African Mobile Data.xlsx',
 'Tab 8 - Bulid a House.xlsx',
 'Tab 8 - Coffee Data (2).csv',
 'Tab 8 - Coffee Data.csv',
 "Tab 8 - Edureka's_Most_ Popular.xlsx",
 'Tab 8 - Park visiting trends.csv',
 'Tab 9 - Global Retail Case Study.xlsx',
 'Tab 9 - In class demo- Global Retail Case Study.xlsx',
 'Tab 9 - In class project 2.xlsx',
 'Tab 9 - UK BANK DATA.csv',
 'Tab 9 - World Indicators.csv',
 'Tableau Class 1 Datasets',
 'Tableau Class 2 Datasets',
 'Tableau green_eco data set _a1b_g5h7ie - Module 9 MCQ dataset.csv',
 'Tableau Module 1 Case Study Dataset',
 'Tableau Module 2 Case Study Dataset',
 'tips-dataset.ipynb',
 'tips.csv',
 'Titanic.csv',
 'UK BANK DATA - Tableau Module 9 copy.csv',
 'USA_Superstore.xlsx',
 'weather.csv',
 'wine.csv',
 '~$survey_results_public_2020.xlsx']

In [6]:
df = pd.read_csv('Groceries_dataset.csv')
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [7]:
df['itemDescription'] = df['itemDescription'].str.strip()
df

       Member_number        Date        itemDescription
0               1808  21-07-2015         tropical fruit
1               2552  05-01-2015             whole milk
2               2300  19-09-2015              pip fruit
3               1187  12-12-2015       other vegetables
4               3037  01-02-2015             whole milk
...              ...         ...                    ...
38760           4471  08-10-2014          sliced cheese
38761           2022  23-02-2014                  candy
38762           1097  16-04-2014               cake bar
38763           1510  03-12-2014  fruit/vegetable juice
38764           1521  26-12-2014               cat food

[38765 rows x 3 columns]

In [8]:
df['Member_number'].apply(type).unique()

array([<class 'int'>], dtype=object)

In [9]:
basket = df.groupby(['Member_number','itemDescription'])['Date'].sum().unstack().reset_index().fillna(0).set_index('Member_number')
basket

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Member_number,,,,,,,,,,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,15-03-201524-06-2014,15-03-2015,0
1001,0,0,0,0,0,0,0,0,14-04-2015,0,...,0,0,0,20-01-2015,0,14-04-2015,0,12-12-201407-02-2014,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,26-04-2014,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,13-10-201404-02-201419-08-2014,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27-12-2015,05-01-2014,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,18-02-201524-01-2015,...,0,0,0,16-05-2015,0,0,0,0,24-01-2015,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
def encode(x):
    if x == 0:
        return 0
    if x != 0:
        return 1

In [11]:
basket = basket.applymap(encode)
basket

itemDescription,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
Member_number,,,,,,,,,,,,,,,,,,,,,
1000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
1001,0,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,1,0,1,0,0
1002,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1003,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4996,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0,0
4998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4999,0,0,0,0,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
5000,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [12]:
freq = apriori(basket, min_support=0.05, use_colnames= True)
freq

C:\Users\ABC\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

      support                                        itemsets
0    0.078502                                      (UHT-milk)
1    0.119548                                          (beef)
2    0.079785                                       (berries)
3    0.062083                                     (beverages)
4    0.158799                                  (bottled beer)
..        ...                                             ...
160  0.050539  (tropical fruit, whole milk, other vegetables)
161  0.071832          (yogurt, whole milk, other vegetables)
162  0.065162                  (soda, rolls/buns, whole milk)
163  0.065931                (yogurt, rolls/buns, whole milk)
164  0.054387                      (yogurt, soda, whole milk)

[165 rows x 2 columns]

In [13]:
rules = association_rules(freq, min_threshold=1, metric = 'lift')
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(beef),(other vegetables),0.119548,0.376603,0.050795,0.424893,1.128223,0.005773,1.083966,0.129082
1,(other vegetables),(beef),0.376603,0.119548,0.050795,0.134877,1.128223,0.005773,1.017719,0.182309
2,(beef),(whole milk),0.119548,0.458184,0.064135,0.536481,1.170886,0.009360,1.168919,0.165762
3,(whole milk),(beef),0.458184,0.119548,0.064135,0.139978,1.170886,0.009360,1.023754,0.269364
4,(bottled beer),(other vegetables),0.158799,0.376603,0.068497,0.431341,1.145345,0.008692,1.096257,0.150857
...,...,...,...,...,...,...,...,...,...,...
253,"(whole milk, yogurt)",(soda),0.150590,0.313494,0.054387,0.361158,1.152042,0.007178,1.074611,0.155374
254,"(soda, whole milk)",(yogurt),0.151103,0.282966,0.054387,0.359932,1.271999,0.011630,1.120247,0.251899
255,(yogurt),"(soda, whole milk)",0.282966,0.151103,0.054387,0.192203,1.271999,0.011630,1.050879,0.298223
256,(soda),"(whole milk, yogurt)",0.313494,0.150590,0.054387,0.173486,1.152042,0.007178,1.027702,0.192243
257,(whole milk),"(soda, yogurt)",0.458184,0.097486,0.054387,0.118701,1.217622,0.009720,1.024073,0.329867